In [1]:
import pandas as pd
import numpy as np
columns=['column_1','column_2','column_3','column_4','column_5','column_6']
indices=[1,2,3,4,5,6]
df1=pd.DataFrame(np.random.rand(6,6),columns=columns,index=indices)

In [2]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.583013  0.962863  0.426589  0.199438  0.509030  0.033261
2  0.912206  0.183983  0.135219  0.969601  0.909143  0.707162
3  0.589640  0.576567  0.124217  0.396189  0.899255  0.636627
4  0.270937  0.886571  0.326147  0.295179  0.687762  0.202347
5  0.318254  0.841635  0.074165  0.852987  0.791325  0.108765
6  0.733068  0.824740  0.764103  0.975528  0.500788  0.188360

In [9]:
df1

          column_1  column_2  column_3  column_4  column_5  column_6
1         0.583013  0.962863  0.426589  0.199438   0.50903  0.033261
2         0.912206  0.183983  0.135219  0.969601  0.909143  0.707162
3          0.58964  0.576567  0.124217  0.396189  0.899255  0.636627
4         0.270937  0.886571  0.326147  0.295179  0.687762  0.202347
5         0.318254  0.841635  0.074165  0.852987  0.791325  0.108765
6         0.733068   0.82474  0.764103  0.975528  0.500788   0.18836
column_2     satya     satya     satya     satya     satya     satya

In [ ]:
df1['column_2'].replace(['0.183983'], 'Satya')