In [1]:
import pandas as pd
import numpy as np
columns=['column_1','column_2','column_3','column_4','column_5','column_6']
indices=[1,2,3,4,5,6]
df1=pd.DataFrame(np.random.rand(6,6),columns=columns,index=indices)

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.328105  0.816089  0.746573  0.793562  0.332112  0.544862
2  0.165022  0.936672  0.731262  0.337502  0.040805  0.672476
3  0.321189  0.669998  0.200020  0.498869  0.561961  0.352205
4  0.379059  0.604782  0.630274  0.779921  0.414943  0.068105
5  0.869497  0.909872  0.711581  0.647763  0.224780  0.869601
6  0.064578  0.237485  0.456479  0.189042  0.152750  0.183253

In [6]:
df1[["column_1","column_2","column_3","column_4","column_5","column_6"]].mean()

column_1    0.354575
column_2    0.695816
column_3    0.579365
column_4    0.541110
column_5    0.287892
column_6    0.448417
dtype: float64

In [8]:
df1[["column_2"]].std()

column_2    0.259738
dtype: float64